.nigger{
    height: 150px;
    margin-top: -7%;
    margin-left: 4%;
}
header{
    height: 200px;
}
body{
    color: aliceblue;
    background-color: rgba(32, 18, 15, 255);
    margin-left: 40%;
    margin-top: 8%;
}
.nigger1{
    margin-top: 8%;
}