.destination-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-top: 10px;
    background-color: #f8f9fa;
    
}

.igredientes {
    position: relative;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.destination:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.destination-title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.4);
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
}

#a{
   background-image: url(img/MONTAGEM/Pao-de-Hamburguer-Brioche-MAX-BIMBO-QSR.jpg);
}

#b{
    background-image: url(img/MONTAGEM/baguete.jpeg);
}
#c{
    background-image: url(img/MONTAGEM/alface.jpeg);
}
#d{
    background-image: url(img/MONTAGEM/tomate.jpeg);
}
#e{
    background-image: url(img/MONTAGEM/picles.jpeg);
}
#f{
    background-image: url(img/MONTAGEM/cebola_car.jpeg);

}
#g{
    background-image: url(img/MONTAGEM/cebola_frita.jpeg);

}
#h{
    background-image: url(img/MONTAGEM/molho_alho.jpeg);
}
#i{
    background-image: url();
}
#j{
    background-image: url();
}
#k{
    background-image: url();
}
#l{
    background-image: url();
}
#m{
    background-image: url();
}
#n{
    background-image: url();
}
#o{
    background-image: url();
}
#p{
    background-image: url();
}
#q{
    background-image: url();
}