.nigger{
    height: 200px;
}

header{
    text-align: center;
}

.destination-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 20px;
    padding: 20px;
    margin-top: 10px;
    background-color: rgba(32, 18, 15, 255);
    
}

.igredientes {
    position: relative;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.destination:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.destination-title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.4);
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
}

body {
    background-color: rgba(32, 18, 15, 255);
}

.destination-grid2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    max-height: 50px;
    max-width: 150px;
    gap: 20px;
    padding: 20px;
    margin-top: 50px;
    background-color: rgba(32, 18, 15, 255);
    
}


#a{
   background-image: url(img/MONTAGEM/Pao-de-Hamburguer-Brioche-MAX-BIMBO-QSR.jpg);
}

#b{
    background-image: url(img/MONTAGEM/baguete.jpeg);
}
#b2{
    background-image: url(img/MONTAGEM/frances.jpeg);
}
#b3{
    background-image: url(img/MONTAGEM/PaoAu.png);
    background-color: #fff;
}
#c{
    background-image: url(img/MONTAGEM/alface.jpeg);
}
#d{
    background-image: url(img/MONTAGEM/tomate.jpeg);
}
#e{
    background-image: url(img/MONTAGEM/picles.jpeg);
}
#e1{
    background-image: url(img/MONTAGEM/couve.jpeg);
}
#f{
    background-image: url(img/MONTAGEM/cebola_car.jpeg);

}
#g{
    background-image: url(img/MONTAGEM/cebola_frita.jpeg);
}

#g1{
    background-image: url(img/MONTAGEM/batata_frita.jpeg);
}

#g2{
    background-image: url(img/MONTAGEM/bacon.jpeg);
}

#h{
    background-image: url(img/MONTAGEM/molho_alho.jpeg);
}
#i{
    background-image: url(img/MONTAGEM/maionese.jpeg);
}
#j{
    background-image: url(img/MONTAGEM/mostarda.jpeg);
}
#k{
    background-image: url(img/MONTAGEM/ketchup.jpeg);
}
#l{
    background-image: url(img/MONTAGEM/hartesanal.jpeg);
}
#m{
    background-image: url(img/MONTAGEM/hcostela.jpeg);
}
#o{
    background-image: url(img/MONTAGEM/hfrango.jpeg);
}
#p{
    background-image: url(img/MONTAGEM/hvegano.jpeg);
}
.aa{
    color: #fff;
}
.quantidade {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-top: 10px;
    background-color: rgba(32, 18, 15, 255);
    
}

#n_brioche{
    color: white;
    margin-left: 30%;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#n_baguete{
    color: white;
    margin-left: 30%;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#n_frances{
    color: white;
    margin-left: 30%;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#n_austra{
    color: white;
    margin-left: 30%;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#n_alface{
    color:  white;
    margin-left: 30%;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#n_tomate{
    color: white;
    margin-left: 30%;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#n_picles{
    color: white;
    margin-left: 30%;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#n_couve{
    color: white;
    margin-left: 30%;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#n_cebola_car{
    color: white;
    margin-left: 30%;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#n_onion{
    color: white;
    margin-left: 30%;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#n_fried{
    color: white;
    margin-left: 30%;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#n_bacon{
    color:white;
    margin-left: 30%;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#n_alho{
    color: white;
    margin-left: 30%;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#n_maionese{
    color: white;
    margin-left: 30%;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#n_mostarda{
    color: white;
    margin-left: 30%;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#n_ketchup{
    color: white;
    margin-left: 30%;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#n_artesanal{
    color: white;
    margin-left: 30%;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#n_frango_empanado{
    color: white;
    margin-left: 30%;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#n_carne_vegana{
    color: white;
    margin-left: 30%;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#n_carne_costela{
    color: white;
    margin-left: 30%;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#negrudoc{
    width: 100px;
    margin-left: 900px;
}
#brasa{
    width: 100px;
    position: absolute;
    right: 0;
}
#cerqueirinha {
    width: 100px;
    position: absolute;
    left: 0;
}