body{
    margin: 0%;
    background-image: url(img/fundotop.png);
    color: white;
}
.logo{
    width: 150px;
}
header{
    background-color: rgba(32, 18, 15, 255);
}
main{
    text-align: center;
     font-family: 'Troika';
}
.informacoes{
    display: flex;
    margin-left: 43%;
}
main{
    height: 935px;
    width: 1870px;
}
@font-face {
    font-family: 'Troika';
    src: url(troika.otf);
}
