body{
    margin: 0%;
    background-color: rgb(78, 0, 0);
}
.logo{
    width: 150px;
}
main{
    text-align: center;
    font-family: 'Adonais';
}
.informacoes{
    display: flex;
    margin-left: 43%;
}
main{
    height: 935px;
    width: 1870px;
}
@font-face {
         font-family: 'Adonais';
         src: url(img/adonais/Adonais.ttf);
         font-weight: normal;
         font-style: normal;
}
body{
         font-family: 'Adonais'
}
.meu-elemento {
  color: black;
  background-blend-mode: multiply;
  background-image: url(img/Wfundotop.png);
  transition: background-image 0.5s ease;
}

.ativo {
  color: white;
  background-blend-mode: multiply;
  background-image: url(img/fundotop.png);
}

