body{
    margin: 0%;
    background-color: rgb(78, 0, 0);
}
.logo{
    width: 150px;
}
main{
    text-align: center;
    font-family: 'Adonais';
}
.informacoes{
    display: flex;
    margin-left: 43%;
}
main{
    height: 935px;
    width: 1870px;
}
@font-face {
    font-family: 'Adonais';
    src: url(img/adonais/Adonais.ttf);
    font-weight: normal;
    font-style: normal;
}
body{
        font-family: 'Adonais'
}
.meu-elemento {
  color: black;
  background-blend-mode: multiply;
  background-image: url(img/Wfundotop.png);
  transition: background-image 0.5s ease;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.ativo {
  color: white;
  background-blend-mode: multiply;
  background-image: url(img/fundotop.png);
}

.voltar {
    display: flex;
    margin-left: 43%;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 208, 0);
}

@media print {
    .no-print { display: none !important; }
    .meu-elemento { visibility: hidden; }
    body { visibility: visible; display: flex; flex-direction: column; justify-content: center; align-items: center; min-height: 100vh; margin: 0;}
    .informacoes { visibility: visible; font-size: 17pt;}
    .logo { visibility: visible; width: 400px; height: auto;}
    
}
